.profile .title {
  margin-top: 1%;
  margin-left: 3%;
  font-size: 25px;
}

.profile .form {
  background-color: white;
  width: 172.1vh;
}

.profile .profileup {
  background-color: pink;
  display: flex;
  flex-direction: row;
}

.profile .picture {
  margin-top: 1%;
  margin-left: 1%;
  width: 24vh;
  height: 20vh;
}


.profile .input {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
}

.profile .input hr{
  width: 80vh;
}

.profile .EditButton{
  font-size: small;
  display: flex;
  flex-direction: row;
  margin-left: 90%;
  color: darkgray;
}

.profile .EditProfile{
  font-size: small;
  display: flex;
  flex-direction: row;
  margin-left: 29.25%;
  color: darkgray;
  float: right;

}

.profile .bot-container{
  display: flex;
  flex-direction: row;
}

.profile .left-container{
  flex: 0.5;
  margin: 1%;
  margin-right: 1%;
  padding: 2%;
  
}

.profile .right-container{
  flex: 0.5;
  margin: 1%;
  padding: 2%;
  
}

.profile .judul-container{
  font-size: large;
  font-weight: bold;
  background-color: gold;
  border-radius: 10px 10px 0 0;
  align-content: center;
}

.profile .profileup{
  width: 100%;
  background-color: white;
  border-radius: 20px; 
}


.profile .bot-container{
  margin-top:  1%;
  font-size: medium;
  display: flex;
  flex-direction: column;
}

.profile .title-container{
  font-size: 23px;
  margin-left: 1.5%;
}

.profile .card-container{
  font-size: 15px;

}

.profile .Social-Activity {
display: flex;
flex-direction: column;
width: 100%;
}

.profile .Social-activity {
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 7.5px;
padding: 10px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
background-color: #fff;
border: 1px solid lightgray;
margin: 1%;
}

.profile .activity-details {
display: flex;
flex-direction: column;
width: 20vh;
}

.profile .activity {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}
 

.profile .date,
.profile .peran,
.profile .deskripsi {
  font-size: 13px;
  color: #555;
}

.profile .activity-row{
  display: flex;
  flex-direction: row;
}

.profile .icon{
  width: 15px;
  height: 15px;
  margin: 3%;
}
.profile .buttons {
  width: 28vh;
}

.profile .viewbutton, .editbutton {
  margin: 2%;
}

.profile .title2 {
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 25px;
}

.profile .backbutton {
  width: 3%;
  margin-right: 1.3%;
}

.profile .editprofile-container{
  height: 105vh;
  padding: 2%;
  margin: 2%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.profile .picture-container{
  text-align: center;
}

.profile .judul {
  margin: 0%;
  color: #000000 ;
  margin-bottom: 0.5%;
  margin-top: 1%;
}

.profile .inputan{
  width: 100%;
  border-radius: 1px;
}

.profile .dateInput {
width: 100%;
height: 4%;
color: #000000;
background: rgb(255, 255, 255);
border: 1px solid #B3B3B3;
border-radius: 6px;
cursor: pointer;
}

.profile .saveButton{
width: 200px;
padding: 10px 20px;
background-color: #007bff;
margin-top: 2.5%;
margin-right: 5px;
float: right;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.profile .saveButton:hover {
background-color: #0056b3;
}

.profile .editaccount-container{
height: 50vh;
padding: 2%;
margin: 2%;
border: 1px solid black;
border-radius: 5px;
background-color: white;
}

.profile .Additional-container{
height: 50vh;
margin: 2%;
}

.profile .deletebutton {
  width: 20vh;
  font-size: small;
  display: flex;
  flex-direction: row;
  float: right;
}

.profile .Certificate-container{
height: 60vh;
margin: 2%;
width: 100%;

}
