.login-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.login-container .left-section {
  flex: 1;
  padding-right: 1%;
}

.login-container .left-section img {
  width: 100%;
  height: 100vh;
}

.login-container .right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1%;
  height: 100vh;
}

.login-container .logo {
  padding-bottom: 5%;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login-container .logo .ut {
  justify-content: flex-start;
  margin-right: 280px;
}

.login-container .logo .elomate {
  justify-content: flex-end;
}

.login-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 10%;
  max-width: 40%;
  border: none;
}

.login-container .card form {
  margin-bottom: 10%;
}

.login-container .card input {
  margin-bottom: 3%;
  padding: 3%;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.login-container .role {
  margin-top: 3%;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container .card button {
  margin-top: 10%;
  padding: 5%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 5%;
}

/* Media Queries for Responsiveness */

/* For tablets and smaller desktops */
@media (max-width: 1024px) {
  .login-container .logo .ut {
    margin-right: 100px;
  }
  .login-container .card {
    max-width: 60%;
  }
  
  .login-container .role {
    width: 80%;
  }
}

/* For mobile devices */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .login-container .left-section {
    display: none;
  }

  .login-container .right-section {
    width: 100%;
    height: auto;
  }

  .login-container .card {
    max-width: 80%;
  }
  
  .login-container .card button {
    padding: 10px;
    margin-top: 20px;
  }

  .login-container .card input {
    padding: 10px;
  }

  .login-container .logo {
    flex-direction: column;
    align-items: center;
  }

  .login-container .logo .ut,
  .login-container .logo .elomate {
    margin: 0;
    max-width: 60%;
  }
  
  .login-container .role {
    width: 90%;
  }
}

/* For very small screens (phones in portrait mode) */
@media (max-width: 480px) {
  .login-container .card {
    max-width: 90%;
  }

  .login-container .card input {
    padding: 8px;
  }

  .login-container .card button {
    padding: 8px;
    margin-top: 10px;
  }

  .login-container .logo .ut,
  .login-container .logo .elomate {
    max-width: 70%;
    margin-bottom: 10px;
  }

  .login-container .role {
    width: 100%;
    padding: 8px;
  }
}
