.profile .title {
    margin-top: 1%;
    margin-left: 3%;
    font-size: 25px;
}

.profile .form {
    background-color: white;
    width: 160.3vh;
}

.profile .profileup {
    background-color: white;
    display: flex;
    flex-direction: row;
}

.profile .picture {
    margin-top: 1%;
    margin-left: 1%;
    width: 24vh;
    height: 20vh;
}

.profile .EditProfile{
    width: 3%;
}

.profile .input {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.profile .input hr{
    width: 80vh;
}

.profile .EditButton{
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 89%;
    color: darkgray;
}

.profile .EditProfile{
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 95%;
    color: darkgrey;

}

.profile .bot-container{
    display: flex;
    flex-direction: row;
}

.profile .judul-container{
    font-size: large;
    font-weight: bold;
    background-color: yellow;
}


