.profile .title {
    margin-top: 1%;
    margin-left: 3%;
    font-size: 25px;
}

.profile .form {
    background-color: white;
    width: 172.1vh;
}

.profile .profileup {
    background-color: pink;
    display: flex;
    flex-direction: row;
}

.profile .picture {
    margin-top: 1%;
    margin-left: 1%;
    width: 24vh;
    height: 20vh;
}


.profile .input {
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

.profile .input hr{
    width: 80vh;
}

.profile .EditButton{
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 90%;
    color: darkgray;
}

.profile .EditProfile{
    font-size: small;
    display: flex;
    flex-direction: row;
    margin-left: 29.25%;
    color: darkgray;
    float: right;

}

.profile .bot-container{
    display: flex;
    flex-direction: row;
}

.profile .left-container{
    flex: 0.5;
    margin: 1%;
    margin-right: 1%;
    padding: 2%;
    
}

.profile .right-container{
    flex: 0.5;
    margin: 1%;
    padding: 2%;
    
}

.profile .judul-container{
    font-size: large;
    font-weight: bold;
    background-color: gold;
    border-radius: 10px 10px 0 0;
    align-content: center;
}

.profile .profileup{
    width: 100%;
    background-color: white;
    border-radius: 20px; 
}

  .profile .editprofile-container{
    padding: 2%;
    margin: 1%;
    border: 1px solid black;
  }


  .profile .bot-container{
    margin-top:  1%;
    font-size: medium;
    display: flex;
    flex-direction: column;
    

  }

  .profile .title-container{
    font-size: 23px;
  }

  .profile .card-container{
    font-size: 15px;

  }
  
.profile .Social-Activity {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  
.profile .Social-activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.5px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
  
.profile .activity-details {
  display: flex;
  flex-direction: column;
}
  
.profile .activity {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1px;
  }
   
  
  .profile .date,
  .profile .peran,
  .profile .deskripsi {
    font-size: 13px;
    color: #555;
  }

  .profile .activity-row{
    display: flex;
    flex-direction: row;
  }

  
